.center {
    margin-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
}
.Body{
    background-color: rgb(182, 178, 178);
}
.paragraph p{
  color: brown;
}
.Images{
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-top-right-radius: 75/2;
    border-top-left-radius: 75/2;
}

.Head {
    color: blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 150px;
}
